
FTIR/output.csv
.Rproj.user
Tutorials and exercises/1. distributions.R
MassSpectrometry/MassSpectrometry/.Rhistory
MassSpectrometry/MassSpectrometry/.RData
MassSpectrometry/MassSpectrometry/MassSpectrometry.Rproj
SpectralTool/.RData
SpectralTool/.RData
SpectralTool/.Rhistory
SpectralTool/SpectralTool.Rproj
*.Rproj
SpectralTool/SpectralTool.Rproj
MassSpectrometry/datasets/MoNA/inchi_list.txt
MassSpectrometry/datasets/MoNA/inchi_list_clean.txt
MassSpectrometry/datasets/MoNA/inchi_list_ioi.txt
MassSpectrometry/datasets/MoNA/library_coi.json
MassSpectrometry/datasets/MoNA/MoNA-export-MassBank.json
MassSpectrometry/datasets/MoNA/output_library.csv
